# Ignore everything by default
*

# Worker Docker image inputs:
#   - lambdas/worker/requirements.txt
#   - lambdas/worker/src/
#   - lambdas/murder/src/
#   - apps/worker/main.py
#   - apps/worker/Dockerfile
!lambdas/worker/requirements.txt
!lambdas/worker/src/
!lambdas/murder/src/
!apps/worker/main.py
!apps/worker/Dockerfile

# Stream service Docker image inputs:
#   - apps/stream/requirements.txt
#   - apps/stream/src/
#   - apps/stream/main.py
#   - apps/stream/Dockerfile
!apps/stream/requirements.txt
!apps/stream/src/
!apps/stream/main.py
!apps/stream/Dockerfile
